{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "corejs": "3.0.0"
            }
        ],
        "@babel/preset-react",
        "@babel/preset-flow"
    ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-async-to-generator",
        "@babel/plugin-proposal-class-properties",
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
              "components": "./src/components",
              "theme": "./src/theme",
              "constants": "./src/constants",
              "test-utils": "./src/utils/test-utils",
              "lib": "./src/lib",
              "store": "./src/store"
            }
        }]
    ]
}